@import "../../common/styles/variables.scss";

.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #D5D7DA;
  height: fit-content;
  background-color: white;
  box-shadow: 2px 2px 4px 0px rgba(10, 13, 18, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 15px;
  color: #1e293b;
  border-bottom: 1px solid #D5D7DA;
  padding: 12px 24px;
  height: 56px;
}

.total {
  color: var(--Text-Blue, #051B46);
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}
.registation{
  color: var(--Text-Blue, #051B46);
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
}

.body {
  display: flex;
  flex-direction: column;
  height: 296px;
  padding: 22px;
  gap: 8px;
  overflow-y: auto;
}


.divider {
  border-left: 1px solid rgba(112, 112, 112, 0.5);
  margin: 16px 0 16px 0;
  height: 15px;
}

.actionItem{
  color: #1859B4;
  font-size: 16px;
}
.nameContent{
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-weight: 400;
  color: #051B46;
  line-height: 32px;
}