.switchContainer {
    display: flex;
    align-items: center;
    gap: 0px;
    cursor: pointer;
  }
  
  .label {
    font-size: 14px;
    font-weight: 400;
    color: #8A8A8A;
    transition: color 0.3s;
    line-height: 32px;
  }
  
  .activeLabel {
    font-weight: 400;
    color: #051B46;
  }
  